# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/onlineshopping/target/
/shoppingbackend/target/

https://github.com/adik993/money-transfer

https://github.com/Urugvai/money-transfer/tree/master/src/main/resources

https://github.com/kamilgregorczyk/event-sourced-bank/blob/master/src/main/java/com/kgregorczyk/bank/controllers/AccountController.java


